$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1025px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1680px;
$font-size-xs: x-small;
$font-size-s: small;
$font-size-m: medium;
$font-size-l: large;
$font-size-xl: x-large;
$font-size-xxl: xx-large;
$btn-primary-color: #0060fc;
$link-primary-color: #ff0000;
$color-white: #ffffff;

$navHeader-font-color: #222;
$navHeader-boxshadow: 0 3px 5px rgba(57, 63, 72, 0.3);
$hover-color: #3f20ba;
